<h1 id="story_title"><%= @story.title %></h1>

<div id="story">
	<% if @lines.empty? %>
		<p class="sorry">Sorry, there aren't any lines to this story yet. Care to add one?</p>
	<% end %>
	<ul class="lines">	
		<% @lines.each do |line| %>
			<li><%= line.content %></li>
		<% end %>
	</ul>
	
	<div id="form">
		
		<%= form_for @new_submission do |f| %>
		<%= f.text_field :content %>
		<%= f.submit "Create Line" %>
		<% end %>
		

	</div>
	<!-- Flash Notices GO HEREEEE -->
	
	<!-- If submissions of this story exists, show votes left: -->
	<% if @submissions.empty? %>
		<p class="votes">Add a submission to the story.</p>
	<% else %>
		<p class="votes">Votes Left: <span><%= @vote_total %></span>
	<% end %>
	<ul class="submissions">
		<% @submissions.each do |submission| %>
			<li>
				<%= submission.content %>
				<span>
				<%= form_tag "/stories/#{params[:id]}/submission", :method => "put", :id => "vote" do %>
					<%= hidden_field_tag "vote_count", 1 %>
					<%= hidden_field_tag "submission_id", submission.id %>

					<%= submit_tag "Vote" %>
				<% end %>
				<%= submission.vote %>
				</span>				
			</li>
		<% end %>
		
	</ul>
	
</div><!-- #story -->
<div class="bottom_pad"></div>
<%= link_to "Back to all stories", stories_url %>