<h1 id="story_title"><%= @story.title %></h1>

<div id="story">
	<% if @lines.empty? %>
		<p class="sorry">Sorry, there aren't any lines to this story yet. Care to add one?</p>
	<% end %>
	<ul class="lines">	
		<% @lines.each do |line| %>
			<li><%= line.content %></li>
		<% end %>
	</ul>
	
	<% if @lines.count >= 10 %>
		<p class="complete">This story is complete! Share it with a friend</p>
		<% Submission.scoped({:conditions => ['story_id = ?', params[:id] ]}).destroy_all %>
		<% else %>
	
	<div id="form">
		<%= form_for @new_submission do |f| %>
		<%= f.text_field :content %>
		<%= f.submit "Create Line" %>
		<% end %>
	</div>
	<% end %>
	
	
	<% if flash[:save_notice].present? %>
	  <p class="save"><%= flash[:save_notice] %></p>
	<% end %>

	<% if flash[:alert].present? %>
	  <p class="error"><%= flash[:alert] %></p>
	<% end %>

	<% if @submissions.empty? && @lines.count < 9 %>

	<% elsif @lines.count < 10 %>	
		<p class="votes">Votes Left: <span><%= @vote_total %></span>
	<% else %>		
	<% end %>
	<ul class="submissions">
		<% @submissions.each do |submission| %>
			<li>
				<%= submission.content %>
				<span>
				<%= form_tag "/stories/#{params[:id]}/submission", :method => "put", :id => "vote" do %>
					<%= hidden_field_tag "vote_count", 1 %>
					<%= hidden_field_tag "submission_id", submission.id %>

					<%= submit_tag "Vote" %>
				<% end %>
				<%= submission.vote %>
				</span>	
			</li>
		<% end %>
		
	</ul>
	<%= link_to "Back to all stories", stories_url %>
</div><!-- #story -->
<div class="bottom_pad"></div>
