<!DOCTYPE html>
<html>
<head>
  <title>A Story or Two</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="favicon.png" />
</head>
<body>
	<div id="wrap">
		<a href="/"><h1 class="header">A Story or Two</h1></a>
		<div class="user_links">
			<% if signed_in? %>
			  <%= link_to "Sign out", signout_path, method: "delete" %>
			<% else %>
				<%= link_to "Sign Up", signup_path %>
				<%= link_to "Sign In", signin_path %>
			<% end %>
		</div><!-- .user_links -->

<%= yield %>
	</div>
</body>
</html>
